In [83]:
import os
os.getcwd()

'/Users/liamjeske/Downloads'

In [1]:

import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import json
import numpy as np

import os


engine = db.create_engine('mysql+pymysql://root:password@localhost:3306/351_proj_db')
conn = engine.connect()
inspect = db.inspect(engine)

inspect.get_table_names()

['master', 'playlist', 'playlist_stats', 'playlist_track', 'track']

In [8]:
artists = ['Michael Jackson', 'Taylor Swift']

genres = ['Pop', 'Country']

acousticness = 1
danceability = 1
energy = 0
instrumentalness = 1
liveness = -1

d = dict()
d['artists'] = artists
d['genres'] = genres
d['acousticness'] = acousticness
d['danceability'] = danceability
d['energy'] = energy
d['instrumentalness'] = instrumentalness
d['liveness'] = liveness

d

{'artists': ['Michael Jackson', 'Taylor Swift'],
 'genres': ['Pop', 'Country'],
 'acousticness': 1,
 'danceability': 1,
 'energy': 0,
 'instrumentalness': 1,
 'liveness': -1}

In [9]:
d.get('li') is None

True

In [82]:
def spacy2query(js):
    base = f""" 
                SELECT DISTINCT p.playlist_id, p.playlist_name, t.artist_name, count(t.track_name)
                FROM playlist p
                JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
                JOIN track t ON pt.track_row_id = t.id
                WHERE t.artist_name in {str(tuple(d.get('artists')))}
            """
    return base
    

print(spacy2query(3))

pd.read_sql(spacy2query(3), conn)

                SELECT DISTINCT p.playlist_id, p.playlist_name, t.artist_name, count(t.track_name)
                FROM playlist p
                JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
                JOIN track t ON pt.track_row_id = t.id
                WHERE t.artist_name in ('Michael Jackson', 'Taylor Swift')

OperationalError: (pymysql.err.OperationalError) (1140, "In aggregated query without GROUP BY, expression #1 of SELECT list contains nonaggregated column '351_proj_db.p.playlist_id'; this is incompatible with sql_mode=only_full_group_by")
[SQL:
                SELECT DISTINCT p.playlist_id, p.playlist_name, t.artist_name, count(t.track_name)
                FROM playlist p
                JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
                JOIN track t ON pt.track_row_id = t.id
                WHERE t.artist_name in ('Michael Jackson', 'Taylor Swift')
            ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
base2 = """ 
            SELECT p.playlist_id, p.playlist_name, count(t.track_name) 
            FROM playlist p
            JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
            JOIN track t ON pt.track_row_id = t.id
            WHERE t.artist_name IN ('Taylor Swift', 'Katy Perry','Drake')
            GROUP BY p.playlist_id, p.playlist_name
            ORDER BY num_tracks DESC;
            
        """

In [12]:
pd.read_sql(base2, conn)

     playlist_id   playlist_name  count(t.track_name)
0            743         New ish                   34
1            123   w o r k o u t                    7
2            483           vibes                   10
3            559              ??                    9
4            362  Favorite Songs                   12
..           ...             ...                  ...
259          382            spin                    2
260          272          shower                    1
261          116     Gold Digger                    1
262          928           vibin                    1
263          882           run 2                    1

[264 rows x 3 columns]

In [13]:
stats = pd.DataFrame(
    pd.read_sql(""" 
            SELECT distinct p.playlist_id, energy_avg as energy, key_avg as 'key', 
                            time_signature_avg as time_signature, valence_avg as valence, 
                            acousticness_avg as acousticness, 
                            instrumentalness_avg as instrumentalness,
                            danceability_avg as danceability, liveness_avg as liveness, 
                            loudness_avg as loudness, speechiness_avg as speechiness, 
                            tempo_avg as tempo
            FROM playlist p
            JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
            JOIN track t ON pt.track_row_id = t.id
            """ ,conn).iloc[:,1:].describe()
        ).T
# stats['attribute'] = stats.index
# stats = stats.set_index(np.arange(len(stats)))
stats = stats.round(3)
stats

,count,mean,std,min,25%,50%,75%,max
energy,1000.0,0.630,0.135,0.041,0.569,0.649,0.724,0.935
key,1000.0,5.156,0.684,0.571,4.809,5.143,5.518,9.000
time_signature,1000.0,3.937,0.110,3.095,3.912,3.968,4.000,4.200
valence,1000.0,0.492,0.124,0.103,0.416,0.490,0.574,0.899
acousticness,1000.0,0.254,0.182,0.002,0.129,0.199,0.320,0.990
instrumentalness,1000.0,0.057,0.121,0.000,0.002,0.013,0.054,0.915
danceability,1000.0,0.604,0.093,0.224,0.543,0.606,0.671,0.846
liveness,1000.0,0.188,0.047,0.098,0.163,0.183,0.205,0.717
loudness,1000.0,-7.453,2.496,-30.451,-8.328,-6.870,-5.860,-3.592
speechiness,1000.0,0.093,0.059,0.029,0.051,0.074,0.114,0.788
tempo,1000.0,121.013,7.149,83.653,116.728,121.230,125.054,153.913

In [46]:
import sqlalchemy

In [55]:
stats = pd.DataFrame(
    pd.read_sql(""" 
            SELECT distinct p.playlist_id, energy_avg as energy, key_avg as 'key', 
                            time_signature_avg as time_signature, valence_avg as valence, 
                            acousticness_avg as acousticness, 
                            instrumentalness_avg as instrumentalness,
                            danceability_avg as danceability, liveness_avg as liveness, 
                            loudness_avg as loudness, speechiness_avg as speechiness, 
                            tempo_avg as tempo
            FROM playlist p
            JOIN playlist_track pt ON p.playlist_id = pt.playlist_row_id
            JOIN track t ON pt.track_row_id = t.id
            """ ,conn).iloc[:,1:].describe()
        ).T

stats['feature'] = stats.index

In [76]:
from sqlalchemy.types import VARCHAR
stats['feature'] = stats.index
stats[['feature', 'mean', 'min', 'max']].to_sql("playlist_stats", conn, if_exists='replace', index=False, 
             index_label='feature')

11

In [79]:
pd.read_sql("""SELECT * FROM playlist_stats;""", conn, index_col='feature').T['energy']['mean']

0.6304174490000001