In [1]:
import sqlalchemy as db
from sqlalchemy.orm import sessionmaker
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import json
import numpy as np

import os


engine = db.create_engine('mysql+pymysql://root:password@localhost:3306/351_proj_db2')
conn = engine.connect()
inspect = db.inspect(engine)

inspect.get_table_names()

['artist', 'playlist', 'playlist_track', 'track']

In [9]:
query = "SELECT track_name, track_id FROM track limit 10"

conn = engine.connect()

temp = conn.execute(query).fetchall()
#conn.close()

In [3]:
(temp[0])

('If I Gave Myself To Someone Else', '000mA0etY38nKdvf1N04af')

In [4]:
def track_info_from_playlist(playlist_id):
    return pd.read_sql("SELECT  * FROM master where mpd_id = '{playlist_id}'", conn).to_json()

In [7]:
import requests
import json
import pandas

r = requests.get("http://127.0.0.1:8000/tracks/10")
pd.DataFrame(json.loads(r.content)['tracks'])

                         track_name                track_id
0  If I Gave Myself To Someone Else  000mA0etY38nKdvf1N04af
1                    Still Got Time  000xQL6tZNLJzIrtIgxqSl
2                 Jasmine Runs Away  002PgfoyfrOGiKch4EW8Wm
3                    Heart and Soul  004skCQeDn1iLntSom0rRr
4                        LLorándote  005CGalYNgMNZcvWMIFeK8
5  I Hear A Symphony - Mono Version  005X0FmdtkM1kiutosXLTR
6                        Fingertips  006AVH7fq061voGXkUiII4
7             Crumble the Satellite  006PJvsr6CyV3JdBf7wiNF
8                           Caliber  006yrnQMCZpiUgkR612gC8
9         Never Have To Say Goodbye  009NFK4GeY7xzHCJPrPKdz

In [13]:
pd.read_sql(""" SELECT distinct name from artist order by name """, conn).to_csv("artists_unique.csv",index=False)

In [20]:
pd.read_sql("""
            SELECT distinct JSon_extract(genres, '$[1]') as gen from artist where  
            JSon_extract(genres, '$[1]') Is not null 
            order by gen;
            """, conn).to_csv("genres1_unique.csv",index=False)

In [21]:
conn.close()